@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.headerTitulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 10px 10px 10px #bebebe;

}